<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header">Buy</h1>
    <p>Select the items you desire to purchase.</p>
</div>

<div id="buy-container">
    <form action="/buy" method="POST">

        <div class="buy-div">

            <h2 style="color: green">Cars</h2>

            <ul>
                <li>
                    <input type="checkbox" id="black-mustang" name="products" value="Black Mustang">
                    <label class="checkbox-label">Black Mustang - $4,500 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="orange-mustang" name="products" value="Orange Mustang">
                    <label class="checkbox-label">Orange Mustang - $3,500 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="yellow-audi" name="products" value="Yellow Audi">
                    <label class="checkbox-label">Yellow Audi - $4,200 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="red-nissan" name="products" value="Red Nissan">
                    <label class="checkbox-label">Red Nissan - $4,300 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="silver-audi" name="products" value="Silver Audi">
                    <label class="checkbox-label">Silver Audi - $4,250 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="green-toyota" name="products" value="Green Toyota">
                    <label class="checkbox-label">Green Toyota - $4,100 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="blue-chevy" name="products" value="Blue Chevy">
                    <label class="checkbox-label">Blue Chevy - $5,000 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="white-bmw" name="products" value="White BMW">
                    <label class="checkbox-label">White BMW - $4,725 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="blue-beamer" name="products" value="Blue Beamer">
                    <label class="checkbox-label">Blue Beamer - $4,500 (DP)</label>
                </li>
            </ul>
        </div>

        <div class="buy-div" id="buy-div-parts">

            <h2 style="color: green">Parts</h2>

            <ul>
                <li>
                    <input type="checkbox" id="car-seats" name="products" value="Car Seats">
                    <label class="checkbox-label">Car Seats - $250</label>
                </li>
                <li>
                    <input type="checkbox" id="side-mirrors" name="products" value="Side Mirrors">
                    <label class="checkbox-label">Side Mirrors - $200</label>
                </li>
                <li>
                    <input type="checkbox" id="car-lights" name="products" value="Car Lights">
                    <label class="checkbox-label">Car Lights - $200</label>
                </li>
                <li>
                    <input type="checkbox" id="car-tires" name="products" value="Tires">
                    <label class="checkbox-label">Tires - $250</label>
                </li>
                <li>
                    <input type="checkbox" id="door-handles" name="products" value="Door Handles">
                    <label class="checkbox-label">Door Handles - $150</label>
                </li>
            </ul>



            <h2 style="color: green">Tools</h2>
            <ul>
                <li>
                    <input type="checkbox" id="car-oil" name="products" value="Car Oil">
                    <label class="checkbox-label">Car Oil - $35</label>
                </li>
                <li>
                    <input type="checkbox" id="car-engine" name="products" value="Car Engine">
                    <label class="checkbox-label">Car Engine - $1,500</label>
                </li>
                <li>
                    <input type="checkbox" id="car-key" name="products" value="Car Key">
                    <label class="checkbox-label">Car Key - $100</label>
                </li>
            </ul>
        </div>

        <div class="submit-button">
            <input type="submit" value="Purchase Item(s)">
        </div>

    </form>
</div>

<%- include('partials/footer') %>