<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header">Buy</h1>
    <p>Select the items you desire to purchase.</p>
</div>

<div id="buy-container">
    <form action="" method="POST">

        <div class="buy-div">

            <h2 style="color: green">Cars</h2>

            <ul>
                <li>
                    <input type="checkbox" id="black-mustang" name="products" value="blackMustang">
                    <label class="checkbox-label">Black Mustang - $4,500 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="orange-mustang" name="products" value="orangeMustang">
                    <label class="checkbox-label">Orange Mustang - $3,500 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="yellow-audi" name="products" value="yellowAudi">
                    <label class="checkbox-label">Yellow Audi - $4,200 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="red-nissan" name="products" value="redNissan">
                    <label class="checkbox-label">Red Nissan - $4,300 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="silver-audi" name="products" value="silverAudi">
                    <label class="checkbox-label">Silver Audi - $4,250 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="green-toyota" name="products" value="greenToyota">
                    <label class="checkbox-label">Green Toyota - $4,100 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="blue-chevy" name="products" value="blueChevy">
                    <label class="checkbox-label">Blue Chevy - $5,000 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="white-bmw" name="products" value="whiteBMW">
                    <label class="checkbox-label">White BMW - $4,725 (DP)</label>
                </li>
                <li>
                    <input type="checkbox" id="blue-beamer" name="products" value="blueBeamer">
                    <label class="checkbox-label">Blue Beamer - $4,500 (DP)</label>
                </li>
            </ul>
        </div>

        <div class="buy-div" id="buy-div-parts">

            <h2 style="color: green">Parts</h2>

            <ul>
                <li>
                    <label class="parts-label"> Car Seats</label>
                    <select name="products" id="car-seats">
                        <option value="">None</option>
                        <option value="oneSeat">One Seat - $100</option>
                        <option value="twoSeats">Two Seats - $200</option>
                        <option value="threeSeats">Three Seats - $300</option>
                        <option value="fourSeats">Four Seats - $400</option>
                    </select>
                </li>
                <li>
                    <label class="parts-label">Side Mirrors</label>
                    <select name="products" id="side-mirrors">
                        <option value="">None</option>
                        <option value="oneSideMirror">One Side Mirror - $125</option>
                        <option value="twoSideMirrors">Two Side Mirrors - $200</option>
                    </select>
                </li>
                <li>
                    <label class="parts-label">Car Lights</label>
                    <select name="products" id="car-lights">
                        <option value="">None</option>
                        <option value="oneCarLight">One Car Light - $100</option>
                        <option value="twoCarLights">Two Car Lights - $200</option>
                        <option value="threeCarLights">Three Car Lights - $300</option>
                        <option value="fourCarLights">Four Car Lights - $400</option>
                    </select>
                </li>
                <li>
                    <label class="parts-label">Tires</label>
                    <select name="products" id="car-tires">
                        <option value="">None</option>
                        <option value="oneTire">One Tire - $125</option>
                        <option value="twoTires">Two Tires - $250</option>
                        <option value="threeTires">Three Tires - $375</option>
                        <option value="fourTires">Four Tires - $500</option>
                    </select>
                </li>
                <li>
                    <label class="parts-label">Door Handles</label>
                    <select name="products" id="door-handles">
                        <option value="">None</option>
                        <option value="oneDoorHandle">One Door Handle - $125</option>
                        <option value="twoDoorHandles">Two Door Handles - $250</option>
                        <option value="threeDoorHandles">Three Door Handles - $375</option>
                        <option value="fourDoorHandles">Four Door Handles - $500</option>
                    </select>
                </li>
            </ul>

            <h2 style="color: green">Tools</h2>
            <ul>
                <li>
                    <input type="checkbox" id="car-oil" name="products" value="carOil">
                    <label class="checkbox-label">Car Oil - $35</label>
                </li>
                <li>
                    <input type="checkbox" id="car-engine" name="products" value="carEngine">
                    <label class="checkbox-label">Car Engine - $1,500</label>
                </li>
                <li>
                    <input type="checkbox" id="car-key" name="products" value="carKey">
                    <label class="checkbox-label">Car Key - $100</label>
                </li>
            </ul>
        </div>

        <div class="submit-button">
            <input type="submit" value="Checkout Item(s)">
          </div>

    </form>
</div>

<%- include('partials/footer') %>