
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header">Cars</h1>
    <p>Our gallery of cars.</p>
</div>

<div class="div-options">

<div class="first-section">

  <div class="card" style="width: 18rem;">
    <img src="images/car-images/joey-banks-YApiWyp0lqo-unsplash.jpg" id="card-image"  class="card-img-top" height="200" width="500" alt="2016-ford-mustang-gt">
    <div class="card-body">
      <h5 class="card-title">Black Mustang</h5>
      <p class="card-text">This silver baby will take you places!</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/car-images/bella-foster-ZnXC9yIBApw-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500" alt="orange-vintage-car">
    <div class="card-body">
      <h5 class="card-title">Orange Mustang</h5>
      <p class="card-text">Wanna go classic? Try this one here!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/brandon-atchison-eBJWhlqWR54-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500" alt="yellow-audi">
    <div class="card-body">
      <h5 class="card-title">Yellow Audi</h5>
      <p class="card-text">Go for a ride in this Bumblebee!</p>
    </div>
  </div>
</div>

  <br>

 <div class="second-section"> 
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/chris-demers-FiwMMpCGwuY-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500" alt="red-nissan">
    <div class="card-body">
      <h5 class="card-title">Red Nissan</h5>
      <p class="card-text">Have your way with this cherry red Nissan!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/karl-kohler-Hf1rAKkfMAg-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500" alt="...">
    <div class="card-body">
      <h5 class="card-title">Silver Audi</h5>
      <p class="card-text">Take the family on a winter ride!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/serge-kutuzov-1K9-TbJWs2U-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Green Toyota</h5>
      <p class="card-text">Ride around in our green friend here!</p>
    </div>
  </div>
  </div>

  <br>

  <div class="third-section">
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/stefan-rodriguez-2AovfzYV3rc-unsplash-2.jpg" id="card-image" class="card-img-top" height="200" width="500" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blue Chevy</h5>
      <p class="card-text">Roll through the desert in a blue chevy!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/zachary-edmundson-PnaQY1SbWNs-unsplash.jpg"  id="card-image" class="card-img-top" height="200" width="500"  alt="...">
    <div class="card-body">
      <h5 class="card-title">White BMW</h5>
      <p class="card-text">Go anywhere with this white beamer!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="images/car-images/grahame-jenkins-p7tai9P7H-s-unsplash.jpg" id="card-image" class="card-img-top" height="200" width="500"  alt="...">
    <div class="card-body">
      <h5 class="card-title">Blue Beamer</h5>
      <p class="card-text">Cruise in this ocean blue beauty!</p>
    </div>
  </div>
  </div>
</div>

<%- include('partials/footer') %>
