
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header" >Parts</h1>
    <p>Our gallery of car parts.</p>
</div>

<div class="div-options">

    <div class="first-section">
    
      <div class="card" style="width: 18rem;">
        <img src="images/parts-images/erik-mclean-qqFK8cV37Vg-unsplash.jpg" id="card-image"  class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Seats</h5>
          <p class="card-text">Refine your car with leathers seats.</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="images/parts-images/hang-niu-TBPHYB9JCsI-unsplash.jpg" id="card-image"  class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Side Mirrors</h5>
          <p class="card-text">Add new side mirrors to your car.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="images/parts-images/jesse-collins-JY1yE4KuE4w-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Lights</h5>
          <p class="card-text">Need some spare car light? We got them.</p>
        </div>
      </div>
    </div>
    
      <br>
    
     <div class="second-section"> 
      <div class="card" style="width: 18rem;">
        <img src="images/parts-images/obi-onyeador-Irdm0-tevPc-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tires</h5>
          <p class="card-text">Keep some extra tires handy.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="images/parts-images/timothee-magli-y4kMEjFl968-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Door Handles</h5>
          <p class="card-text">Stay supplied with extra door handles.</p>
        </div>
      </div>
      </div>
    </div>
    
      <br>
    
    <%- include('partials/footer') %>