
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header">Profile</h1>
    <p>Your profile.</p>

    <h2>Currently signed in as: <%= profileName %></h2>
</div>