
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages">
    <h1 class="page-header">Profile</h1>
    <p>Here are all of your purchases.</p>
</div>

<% foundItems.forEach(function(item){ %>
    <p><%=item.name=></p>

<% }) %>


<%- include('partials/footer') %>