
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="top-container-pages"> 
    <h1 class="page-header">Tools</h1>
    <p>Purchase tools.</p>
</div>

<div class="div-options">

    <div class="first-section">
    
      <div class="card" style="width: 18rem;">
        <img src="images/tools-images/tim-mossholder-V37iTrYZz2E-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Oil</h5>
          <p class="card-text">Buy oil to replenish your engine.</p>
          <a href="#" id="buy-button" class="btn btn-primary">Buy</a>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;">
        <img src="images/tools-images/chad-kirchoff-xe-e69j6-Ds-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Engine</h5>
          <p class="card-text">Revamp your vehicle with a new engine.</p>
          <a href="#" id="buy-button" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="images/tools-images/syed-hussaini-iAcEnSs9jNU-unsplash.jpg" id="card-image" class="card-img-top" height="200px" width="500px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Key</h5>
          <p class="card-text">Open and lock your car doors from afar.</p>
          <a href="#" id="buy-button" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    </div>
    
<%- include('partials/footer') %>