

.about {
	margin-top: 50px;
	margin-left: 50px;
}

body {
	background-color: #F8F8FF;
	font-family: 'Krona One', sans-serif;
}

button {
	margin-left: 300px;
	margin-top: 50px;
}

#buy-button {
	display: flex;
	justify-content: center;
}

.card {
	background-color: #f8f8ff;
	display: inline-block; 
	margin: 25px 25px 25px 25px;
}

.card-body {
	margin-top: 50px;
}

#carForm {
	margin-top: 100px;
	margin-left: 50px;
	width: 300px;
}

.card-img-top {
	border-radius: 50%;
}

#card-image {
	border-radius: 0;
}

.card-title {
	text-align: center;
	color: green;
}

.company-address {
	margin-left: 300px;
	margin-top: 25px;
}

.confirmation {
	margin-top: 100px;
	margin-left: 100px;
}

.container {
	margin-top: 100px;
}

.checked {
	color: orange;
  }

.customer-info {
	margin-left: 300px;
	margin-top: 100px;
}

#date {

	text-align: center;
}

.div-options {
	display: grid;
	place-items: center;
}


form {
    display: inline-block;
}

footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}


.login-form {
	text-align: center;
	margin-left: 625px;
	margin-top: 100px;
}

.login-title {
	text-align: center;
	margin-top: 50px;
}

#invoice-header {
	text-align: center;
	text-decoration: underline;
	margin-top: 50px;
}

.purchase-made {
	margin-left: 300px;
	margin-top: 100px;
}

.register {
	margin-top: 50px;
}

#review-card {
	margin-left: 40px;
}

#review-header {
	color: green;
	font-size: 30px;
	margin-bottom: 75px;
	text-align: center;
}

.submitbtn {
	margin-top: 50px;
	margin-left: 675px;

}

#terms {
	margin-top: 50px;
}

.top-container {
	height: 50%;
	width: 100%;
}

#top-container-captions {
	padding-top: 100px;
	padding-left: 100px;
	padding-right: 150px;
}

#top-container-images {
	padding-top: 50px;
}

.top-container-pages {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 75px;
}

#home-body {
	text-align: center;
}

#home-container {
	margin-top: 200px;
}


.page-header {
	color: green;
	margin-top: 50px;
}

#index-header {
	margin-top: 50px;
}
	
#home-list {
	padding-bottom: 50px;
}

#home-paragraph {
	
	margin-bottom: 100px;
}
	
#hop-in-and-ghost {
	font-size: 120%;
}

hr {
	border: dotted #F8F8FF 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

#phantomopolis {
	color: green;
}

#order-car-online {
	padding-top: 50px;
	font-size: 150%;
}

.welcome-page {
	padding-top: 100px;
	padding-left: 100px;
}